:root{
    --darkMain: #1B1A17;
    --mainColor: #F0A500;
    --orange: #E45826;
    --lightGray: #E6D5B8;
}

body {
    background-image: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(27,26,23,1) 50%, rgba(230,213,184,1) 100%);
}

.parallax{
    display: flex;
    flex-direction: column;
}

.parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100vh;
}

.parallax:nth-child(1) {
    background-image: url(images/clouds.jpg);
    background-size: cover;
}

.nav {
    position: fixed;
    top: 14px;
    right: 2%;
}

.nav-link {
    font-size: 35px;
    margin-left: 2px;
    margin-right: 2px;
}

.home-page {
    margin-top: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.placeholder-image {
    border: 1px solid black;
}

.about-paragraph {
    color: var(--mainColor);
}

.footer-section {
    margin-top: 15px;
    text-align: center;
    background-color: black;
    color: white;
}

/* mobile responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .parallax {
        width: 100%;
    }
    .title {
        text-align: center;
    }
    .home-page {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    .placeholder-image {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-paragraph {
        border-radius: 16px;
        padding: 2px;
        background-color: var(--darkMain);
        margin-top: 25px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .nav {
        position: relative;
        left: 2px;
        top: -670px;
    }
}